.orangeButton
{
  background-color: orangered;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}