<div style="margin:0px;background-color: lightgray;">
    <table width="100%">
        <tr>
            <td>
                <div style="margin-top:5px;margin-left:10px;font-size:x-large;font-weight:bold;">
                    {{title}} - {{category}}
                </div>
                <div style="margin-bottom:10px;margin-top:5px;margin-left:10px;font-size:small;font-weight:normal;">
                    By Bob Hodges {{createdAt | date: 'MM/dd/yyyy HH:mm:ss' }}
                </div>
            </td>
            <td>
                <div style="margin-right:10px;text-align: right;">
                    <a color="primary" mat-raised-button class="orangeButton" (click)="openDialog()">
                        Comment
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div fxLayout="row">
    <div fxFlex="70%" style="margin:10px 10px 5px 10px;">
        <span [innerHtml]="value"></span>
        <div style="margin-left:10px;" *ngIf="isShown" fxLayoutAlign="center">
            <img style="padding:5px;" height="35%" width="35%" *ngFor="let image of imageList;" src="{{image}}"
                alt="photo">
        </div>
    </div>
    <div fxFlex="30%" style="text-align:left;margin-left:30px; margin-top:10px;">
        <b>Previous Blogs</b>
        <ul>
            <li *ngFor="let blog of blogs">
                <button (click)="setCurrentBlog(blog._id)">
                    {{blog.category}} - {{blog.createdAt | date: 'MM/dd/yyyy'}}
                </button>
            </li>
        </ul>
    </div>
</div>

<div fxLayout="row">
    <div  fxFlex="70%" style="margin-left:10px;">
        <ul class="list-inline text-left">
            <li class="list-inline-item">
                <a href="#" (click)="$event.preventDefault(); toggleLikes()">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <span style="font-size:14px; font-weight:normal; color:black;">&nbsp;{{likes}}</span>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" (click)="$event.preventDefault(); toggleDislikes()">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <span style="font-size:14px; font-weight:normal; color:black;">&nbsp;{{dislikes}}</span>
                   </span>
                </a>
            </li>
        </ul>
    </div>
</div>