<mat-toolbar>
    ABOUT ME
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <p>
            <span style="font-size:large;font-weight:bold;">Welcome to the Gourmet Philatelist© Website!</span>. My name is Bob Hodges
            and my wife Debra and I live in Memphis, TN. She created this website for me, and welcomes
            all feedback to make it better.
            I started stamp collecting in the middle sixties and quickly put them aside,
            when I attended college, and eventually ended up serving in the military,
            aboard the submarine USS Ethan Allen SSBN 608. Two college degrees thereafter,
            and a 38 year career with a major Metal Building Company, I’ve finally retired.
        </p>
        <p>
            My desire for collecting stamps was rekindled about twenty years ago and
            I’ve been at it ever since.
            My stamp collecting interests are broad and tend to vary from year to year.
            Included in my current interests are US Perfins and Precancels,
            Great Britain Stamps and Post Marks, Australian KGV plate variations and a
            few specialized country collections. Most of all, I enjoy collecting the
            unusual. I’m also an active member of the US Perfin Club, US Precancel
            Society, American Philatelic Society and the American Association of
            Philatelic Exhibitors.
        </p>
        <p>
            If you have any questions or just want to chit-chat about stamps,
            please feel free to contact me through the “Contact Us” section of the
            Gourmet Philatelist website. I’ll make every effort to respond back to you.
        </p>

    </mat-card-content>
    <div style="text-align: center;">
        <img src="../../assets/images/BobAndDebraInEurekaSprings.jpg" />
    </div>
</mat-card>
<p>
    &nbsp;
</p>