<div style="margin:20px;">
    <mat-card>
        <mat-card-title>{{title}}</mat-card-title>
        <div style="margin-bottom:40px;text-align: center;">
            <img height="35%" width="35%" src="{{image}}" alt="photo"> 
        </div>
        <mat-card-content>
            {{details}}
        </mat-card-content>
        <mat-card-actions fxFlexAlign="end" align="end">            
            <button mat-button (click)="returnToGallery()">
                RETURN
            </button>
        </mat-card-actions>    
    </mat-card>
</div>