
mat-card-title {
  font-size: small;
  font-weight: bold;
  display: flex;
    flex-direction: column;
}

mat-card-footer
{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  flex-shrink: 0;
  margin-left: 10px;
  margin-bottom: 0px;
}

mat-card-content
{
  flex-grow: 1;
  overflow: hidden;
}


.container{
  height: 50vh;  
  overflow: hidden;
  overflow-y: scroll;
  margin: 10px;
  padding: 0 ;
}

.galleryItem{
  min-width: 200px;
  text-align: center;
  margin-bottom: 10px; /* same as fxLayoutGap for even distribution */
}

.galleryItem img{
  height: 150px;
  object-fit: contain;
}

.margin-top-20{
  margin-top:20px;
}

.my-Item{
  background-color: blue;
}
