<div class="container-fluid" style="margin-top:10px;">
  <div class="button-row">
    <a mat-raised-button color="primary" fxShow="{{this.loggedInUser == 'Debra Hodges'  || this.loggedInUser == 'bob_hodges' ?'true':'false'}}" (click)="openDialog('id')">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="container margin-top-20" fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" fxLayoutGap="5px">   
    <mat-card fxFlex="0 1 calc(20% - 10px)" *ngFor="let galleryItem of galleryItems; let i = index" class="galleryItem" fxLayout="column">
        <mat-card-title>{{galleryItem.title}}</mat-card-title>
      <img class="image" mat-card-image src="{{galleryItem.image}}" alt="photo"> 
      <br />
      <a [routerLink]="['/galleryDetails/',galleryItem._id]">Details...</a>
      <mat-card-actions fxFlexAlign="end" align="end">
          <button mat-icon-button fxShow="{{this.loggedInUser == 'Debra Hodges' || this.loggedInUser == 'bob_hodges' ?'true':'false'}}" (click)="editItem(galleryItem._id)"><mat-icon>mode_edit</mat-icon></button>
          <button mat-icon-button fxShow="{{this.loggedInUser == 'Debra Hodges' || this.loggedInUser == 'bob_hodges' ?'true':'false'}}" (click)="deleteItem(galleryItem._id)"><mat-icon>delete</mat-icon> </button>
      </mat-card-actions>    
    </mat-card>
  </div>
</div>