<div>
    <form [formGroup]="blogGalleryForm" (ngSubmit)="onFormSubmit(blogGalleryForm.value)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!blogGalleryForm.get('title').valid && blogGalleryForm.get('title').touched">
                    Please enter the title</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="General">General</mat-option>
                <mat-option value="Great Britain Postmarks">Great Britain Postmarks</mat-option>
                <mat-option value="US Perfin Covers">US Perfin Covers</mat-option>
                <mat-option value="US Pre-Cancel Errors">US Pre-Cancel Errors</mat-option>
                <mat-option value="Australia KGV Plate">Australia KGV Plate</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Author" formControlName="author" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!blogGalleryForm.get('author').valid && blogGalleryForm.get('author').touched">
                    Please enter the author</span>
            </mat-error>
        </mat-form-field>
        <div id="toolbar-container"></div>
        <div style="height:250px;border: solid 1px gray;overflow: auto;" id="editor">
        </div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Image" formControlName="image" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!blogGalleryForm.get('image').valid && blogGalleryForm.get('image').touched">Please enter
                    an image.
                </span>
            </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!blogGalleryForm.valid" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
            </button>   
            <app-upload-image [IsPublic]="IsPublic" [CurrentImage]="CurrentImage" (filesOutput)="getUploadedFiles($event)" (valueUpdate)="getUpdatedValue($event)"></app-upload-image>    
        </div> 
    </form>
</div>