<div mat-dialog-content>  
    <form [formGroup]="blogPostForm" (ngSubmit)="onFormSubmit(blogPostForm.value)">   
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!blogPostForm.get('title').valid && blogPostForm.get('title').touched">Please enter the Blog
            Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Category" formControlName="category" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!blogPostForm.get('category').valid && blogPostForm.get('category').touched">Please enter the
            Blog Category</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Author" formControlName="author" [errorStateMatcher]="matcher">
        <mat-error>
            <span *ngIf="!blogPostForm.get('author').valid && blogPostForm.get('author').touched">Please enter Blog
                Post Author</span>
        </mat-error>
      </mat-form-field> 
      <div id="toolbar-container"></div>
      <div style="height:150px;border: solid 1px gray;overflow: auto;" id="editor">
      
      </div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Image" formControlName="image">
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!blogPostForm.valid" mat-raised-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)">
        </label>              
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="$event.preventDefault(); upload()">
          Upload
        </button>
        &nbsp;<button mat-button (click)="returnHome()">
            RETURN
        </button>
      </div>   
    </form>  
  </div>
