<section fxLayout="column" class="container-fluid">
  <mat-tab-group #tabs [selectedIndex]="selectedIndex" (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Blog">
      <app-blogPost-main></app-blogPost-main>
    </mat-tab>
    <mat-tab label="Posts">
      <mat-card>
        <app-blogPost-list></app-blogPost-list>
      </mat-card>
    </mat-tab>
    <mat-tab label="Gallery">
        <app-blog-gallery></app-blog-gallery>
    </mat-tab>
    <mat-tab label="Exhibits/Studies">
      <div id="container">   
        <mat-radio-group style="font-weight:bold;"
          layout="row"      
          fxLayoutAlign="center"
          [(ngModel)]="selected"
          (change)="onChange($event)">
          <mat-radio-button value="../assets/exhibits/Exhibit FRENCH D-DAY COVERS.pdf" labelPosition="after">French D-Day Covers</mat-radio-button>
          &nbsp;<mat-radio-button value="../assets/exhibits/US Private Die Proprietary.pdf" labelPosition="after">US Private Die Proprietary</mat-radio-button>
          &nbsp;<mat-radio-button value="../assets/exhibits/US Perfins - Their First Year.pdf" labelPosition="after">US Perfins-Their First Year</mat-radio-button>
          &nbsp;<mat-radio-button value="../assets/exhibits/US Perfins - The Classics and Rarities.pdf" labelPosition="after">US Perfins-The Classics and Rarities</mat-radio-button>
          &nbsp;<mat-radio-button value="../assets/exhibits/A Journey Through History with a Single Postal Cover.pdf" labelPosition="after">Single Postal Covers</mat-radio-button>
        </mat-radio-group>
        <pdf-viewer src="{{selected}}" fxLayoutAlign="left"></pdf-viewer>
    </div>
    </mat-tab>
    <mat-tab label="Profile">
      <app-profile></app-profile>
    </mat-tab>
  </mat-tab-group>
</section>